@use '../util' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-style: normal;
  font-weight: normal;
}

body {
  position: relative;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-sans);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: rem(1);
  width: rem(1);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

a {
  color: var(--clr-orange-500);
}

.app {
  padding: rem(16);
  min-height: 100vh;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  color: var(--clr-text-primary);
  transition: var(--transition);

  &-container {
    width: 100%;
    max-width: rem(900);
    margin-inline: auto;
  }

  @include breakpoint(medium) {
    padding-inline: rem(32);
  }

  @include breakpoint(large) {
    padding: rem(32);
  }
}
