@use '../util' as *;

:root {
  // Colors
  // Neutral
  --clr-neutral-900: #12131a;
  --clr-neutral-800: #21222c;
  --clr-neutral-700: #2a2b37;
  --clr-neutral-600: #404254;
  --clr-neutral-200: #e4f4ef;
  --clr-neutral-100: #f2f2f7;
  --clr-neutral-0: #ffffff;

  --clr-purple-400: #d3a0fa;
  --clr-purple-500: #c27cf8;

  --clr-yellow-500: #ff9f00;

  --clr-orange-800: #da3701;
  --clr-orange-500: #fe8159;

  // Typography
  --ff-sans: 'DM Sans', sans-serif;

  --h1-size: #{rem(40)};
  --fs-lg: #{rem(24)};
  --fs-md: #{rem(20)};
  --fs-sm: #{rem(16)};

  --text-preset-1: normal normal 700 var(--h1-size) / 100% var(--ff-sans);
  --text-preset-2: normal normal 600 var(--fs-lg) / 130% var(--ff-sans);
  --text-preset-3: normal normal 400 var(--fs-md) / 140% var(--ff-sans);
  --text-preset-4: normal normal 400 var(--fs-sm) / 130% var(--ff-sans);

  // Theme
  --bg-color: var(--clr-neutral-0);
  --btn-bg-color: var(--clr-neutral-100);
  --progress-bg-color: var(--clr-neutral-100);
  --textarea-bg: var(--clr-neutral-100);
  --border-color: var(--clr-neutral-200);
  --clr-text-primary: var(--clr-neutral-900);
  --clr-text-secondary: var(--clr-neutral-700);

  // Util
  --transition: all 0.3s ease-in-out;

  @include breakpoint(medium) {
    --h1-size: #{rem(64)};
  }
}

[data-theme='dark'] {
  --bg-color: var(--clr-neutral-900);
  --btn-bg-color: var(--clr-neutral-700);
  --progress-bg-color: var(--clr-neutral-100);
  --textarea-bg: var(--clr-neutral-800);
  --border-color: var(--clr-neutral-700);
  --clr-text-primary: var(--clr-neutral-100);
  --clr-text-secondary: var(--clr-neutral-200);
}
