@use '../util' as *;

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: rem(1) solid transparent;
  background: none;
  margin: 0;
  padding: 0;

  &-toggle {
    border-radius: rem(6);
    height: rem(32);
    width: rem(32);
    background-color: var(--btn-bg-color);
  }

  &-more {
    color: var(--clr-text-primary);
    font: var(--text-preset-3);

    svg {
      margin-inline-start: rem(8);
      width: rem(10);
      transform: rotate(0);
      transition: var(--transition);

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    &.open {
      svg {
        transform: rotate(-180deg);
      }
    }
  }

  @include breakpoint(medium) {
    &-toggle {
      height: rem(40);
      width: rem(40);
    }
  }
}
