@use '../util' as *;

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: rem(20);
  height: rem(130);
  border-radius: rem(12);
  color: var(--clr-neutral-900);
  overflow: hidden;

  &-container {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }

  &-bg {
    position: absolute;
    top: 50%;
    right: -15%;
    transform: translateY(-50%);

    svg {
      height: rem(150);
      width: rem(150);
    }
  }

  &-body {
    z-index: 1;
  }

  &-count {
    font: var(--text-preset-1);
  }
  &-text {
    font: var(--text-preset-3);
  }

  &-char-count {
    background-color: var(--clr-purple-400);
  }

  &-word-count {
    background-color: var(--clr-yellow-500);
  }

  &-sentence-count {
    background-color: var(--clr-orange-500);
  }

  @include breakpoint(medium) {
    &-container {
      flex-direction: row;
    }

    &-bg {
      right: -30%;
    }
    width: 100%;
    height: rem(150);
  }

  @include breakpoint(large) {
    &-bg {
      right: -10%;
    }
  }
}
