@use '../util' as *;

.form {
  width: 100%;

  &-group {
    display: flex;
    align-items: center;
    height: rem(21);
    gap: rem(10);
  }

  &-control {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: rem(29);
    width: rem(55);
    background-color: transparent;
    color: var(--clr-text-secondary);
    border: rem(1) solid var(--clr-neutral-600);
    border-radius: rem(6);
    font: var(--text-preset-4);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: rem(2) solid var(--clr-purple-500);
      box-shadow: 0 0 rem(10) 0 var(--clr-purple-500);
    }
  }

  &-check {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    ~ .checkmark {
      position: absolute;
      top: rem(2.5);
      left: rem(-26);
      height: rem(16);
      width: rem(16);
      border: rem(1) solid var(--checkbox-border);
      border-radius: rem(4);
      display: flex;
      align-items: center;
      justify-content: center;
      color: transparent; // hide SVG stroke at rest
      transition: color 0.2s ease, background-color 0.2s ease;

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }

    &:checked ~ .checkmark {
      background-color: var(--clr-purple-400);
      border-color: var(--clr-purple-400);
      color: var(--clr-neutral-900);
    }

    &:focus ~ .checkmark {
      outline: rem(2) solid var(--clr-purple-500);
      background-color: var(--clr-neutral-0);
      box-shadow: 0 0 0 rem(2) var(--clr-neutral-0),
        0 0 0 rem(4) var(--clr-purple-400);
    }

    &.checked:focus ~ .checkmark {
      outline: rem(2) solid var(--clr-neutral-0);
      background-color: var(--clr-purple-400);
      box-shadow: 0 0 0 rem(2) var(--clr-neutral-0),
        0 0 0 rem(4) var(--clr-purple-400);
    }
  }
}

label {
  position: relative;
  text-transform: capitalize;
  font: var(--text-preset-4);
  color: var(--clr-text-secondary);
  margin-inline-start: rem(26);
}

textarea {
  background-color: var(--textarea-bg);
  color: var(--clr-text-secondary);
  border: rem(2) solid var(--border-color);
  margin-block-end: rem(16);
  padding: rem(16) rem(16) 0;
  border-radius: rem(12);
  font: var(--text-preset-3);
  height: rem(200);
  width: 100%;
  overflow-y: auto;
  resize: none;

  &.error {
    outline: rem(1) solid var(--clr-orange-500);
    box-shadow: 0 0 rem(8) 0 var(--clr-orange-500);

    &:focus {
      outline: rem(1) solid var(--clr-orange-500);
      box-shadow: 0 0 rem(8) 0 var(--clr-orange-500);
    }
  }

  &:focus {
    outline: rem(2) solid var(--clr-purple-500);
    box-shadow: 0 0 rem(10) 0 var(--clr-purple-500);
  }

  &::placeholder {
    color: var(--clr-text-secondary);
  }

  @include breakpoint(medium) {
    padding: rem(20) rem(20) 0;
  }
}
