@use '../util' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-logo svg {
    width: rem(185.4);
    height: rem(30);
  }

  @include breakpoint(medium) {
    &-logo svg {
      width: rem(245.53);
      height: rem(40);
    }
  }
}
