@use '../util' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(40);
  height: rem(64);

  &-logo svg {
    width: rem(185.4);
    height: rem(30);
  }

  @include breakpoint(medium) {
    &-logo svg {
      width: rem(245.53);
      height: rem(40);
    }
  }

  @include breakpoint(large) {
    margin-bottom: rem(48);
  }
}
