@use '../util' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: rem(40);
  height: rem(64);

  &-logo {
    height: rem(30);
  }

  &-logo svg {
    width: rem(185.4);
    height: rem(30);
  }

  @include breakpoint(medium) {
    &-logo {
      height: rem(40);
    }

    &-logo svg {
      width: rem(245.53);
      height: rem(40);
    }
  }

  @include breakpoint(large) {
    height: rem(44);
    margin-block-end: rem(48);

    &-logo {
      height: rem(44);
    }
  }
}
