@use '../util' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(40);

  h1 {
    font: var(--text-preset-1);
    letter-spacing: rem(-1);
    text-align: center;
    max-width: rem(510);
    margin-inline: auto;
  }

  @include breakpoint(large) {
    gap: rem(48);
  }
}

.options {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: rem(12);

  @include breakpoint(medium) {
    flex-flow: row nowrap;
    align-items: center;
    gap: rem(24);

    .reading-time {
      margin-left: auto;
    }
  }
}
