@use '../util' as *;

.letters-container {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  margin-block: rem(20);

  &.mb-12 {
    margin-block-end: rem(12);
  }
}

.letters-slide {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &.open {
    max-height: rem(2000); // Arbitrary large value to allow full expansion
    margin-block-end: rem(20);
  }
}

.letter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(14);
  font: var(--text-preset-4);

  &-char {
    text-transform: uppercase;
    width: rem(16);
  }

  &-count {
    text-align: right;
    width: rem(90);
    flex-shrink: 0;
  }
}
